#include "Cassette.common.xcconfig"

ONLY_ACTIVE_ARCH = YES

ENABLE_TESTABILITY = YES

DEPLOYMENT_POSTPROCESSING = NO

COPY_PHASE_STRIP = NO

STRIP_INSTALLED_PRODUCT = NO

STRIP_STYLE = debugging

STRIP_SWIFT_SYMBOLS = NO

DEAD_CODE_STRIPPING = YES

OTHER_CODE_SIGN_FLAGS = --timestamp=none

DEBUG_INFORMATION_FORMAT = dwarf

GCC_DYNAMIC_NO_PIC = NO

GCC_OPTIMIZATION_LEVEL = 0

CLANG_DEBUG_INFORMATION_LEVEL = "line-tables-only"

LLVM_LTO = NO

OTHER_CFLAGS = $(inherited) -ftrapv

ENABLE_NS_ASSERTIONS = YES

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1

SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_COMPILATION_MODE = wholemodule

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) DEBUG

SWIFT_REFLECTION_METADATA_LEVEL = all

ENABLE_INCREMENTAL_DISTILL = NO
