#include "Cassette.common.xcconfig"

VALIDATE_PRODUCT = YES

STRIPFLAGS = -u -r

DEPLOYMENT_POSTPROCESSING = YES

COPY_PHASE_STRIP = YES

STRIP_INSTALLED_PRODUCT = YES

STRIP_STYLE = non-global

STRIP_SWIFT_SYMBOLS = YES

DEAD_CODE_STRIPPING = YES

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

LLVM_LTO = NO

GCC_OPTIMIZATION_LEVEL = s

ENABLE_NS_ASSERTIONS = NO

SWIFT_OPTIMIZATION_LEVEL = -Osize

SWIFT_COMPILATION_MODE = wholemodule

SWIFT_REFLECTION_METADATA_LEVEL = None

OTHER_CFLAGS = $(inherited) -fstack-protector-all
