#include "Cassette.common.warnings.xcconfig"

SDKROOT = iphoneos

PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO

ENABLE_BITCODE = NO

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = NO

TARGETED_DEVICE_FAMILY = 1,2

IPHONEOS_DEPLOYMENT_TARGET = 10.0

DEFINES_MODULE = YES

ALWAYS_SEARCH_USER_PATHS = NO

CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer

CURRENT_PROJECT_VERSION = 1

GCC_STRICT_ALIASING = YES

GCC_NO_COMMON_BLOCKS = YES

GCC_C_LANGUAGE_STANDARD = gnu99

GCC_INCREASE_PRECOMPILED_HEADER_SHARING = NO

GCC_PRECOMPILE_PREFIX_HEADER = NO

CLANG_CXX_LANGUAGE_STANDARD = gnu++0x

CLANG_CXX_LIBRARY = libc++

GCC_ENABLE_CPP_EXCEPTIONS = YES

GCC_ENABLE_CPP_RTTI = YES

CLANG_ALLOW_NON_MODULAR_INCLUDES_IN_FRAMEWORK_MODULES = YES

CLANG_ENABLE_MODULE_DEBUGGING = YES

CLANG_ENABLE_MODULES = YES

CLANG_MODULES_AUTOLINK = YES

GCC_ENABLE_OBJC_EXCEPTIONS = YES

CLANG_LINK_OBJC_RUNTIME = YES

CLANG_ENABLE_OBJC_ARC = YES

ENABLE_STRICT_OBJC_MSGSEND = YES

CLANG_UNDEFINED_BEHAVIOR_SANITIZER_INTEGER = YES

CLANG_UNDEFINED_BEHAVIOR_SANITIZER_NULLABILITY = YES

OTHER_SWIFT_FLAGS = $(inherited) -swift-version 5

SWIFT_VERSION = 5.0

GCC_SYMBOLS_PRIVATE_EXTERN = NO

GCC_THREADSAFE_STATICS = YES

ENABLE_ONLY_ACTIVE_RESOURCES = YES

ASSETCATALOG_COMPILER_OPTIMIZATION = space

COCOAPODS_PARALLEL_CODE_SIGN = true
